#left-area{
    margin: 40px;
    background: #f6f4ff;
}

article{
    margin-top: 30px;
    margin: 30px;
}

#et-box-author{
    margin: 50px;
    background-color: #212526;
}

#et-box-author p{
    color: white;

}